doctype
html(prefix="og: http://ogp.me/ns#", lang="en")
  head
    title= title
    style
      | html, body {
      |   padding: 0;
      |   margin:  0;
      |   font-family: sans-serif;
      | }
      | img {
      |   margin:  0;
      |   padding: 0;
      | }
      | canvas {
      |   display: none;
      | }
      | .warning {
      |   display: none;
      |   position: absolute;
      |   bottom: 0;
      |   padding: 0.5em;
      |   width: 100%;
      |   text-align: center;
      |   background: #c00;
      |   color: white;
      | }
      | .content {
      |   font-size: 1.2em;
      |   font-weight: bold;
      | }
      | .loading {
      |   position: absolute;
      |   width: 100%;
      |   height: 2em;
      |   padding: 0.5em 0.5em 0 0.5em;
      |   text-align: center;
      |   background:rgb( 255, 255, 255);
      |   background:rgba(255, 255, 255, 0.8);
      |   font-weight: bold;
      |   font-size: 2em;
      | }
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-capable", content="yes")

    meta(property="og:title", content="360째 view of " + title)
    meta(property="og:type", content="website")
    meta(property="og:url", content="http://spots.teleports.me/" + file)
    meta(property="og:image", content=previewUrl)
    meta(property="og:description", content="See a 360째 view of " + title)
    meta(property="og:site_name", content="Teleports.me")

    meta(property="twitter:card", content="summary_large_image")
    meta(property="twitter:site", content="@teleportsme")
    meta(property="twitter:title", content="360째 view of " + title)
    meta(property="twitter:description", content="See a 360째 view of " + title)
    meta(property="twitter:image", content=previewUrl)

    script(type="text/javascript")
      | !function(a,b){a("Keen","https://d26b395fwzu5fz.cloudfront.net/3.2.4/keen.min.js",b)}(function(a,b,c){var d,e,f;c["_"+a]={},c[a]=function(b){c["_"+a].clients=c["_"+a].clients||{},c["_"+a].clients[b.projectId]=this,this._config=b},c[a].ready=function(b){c["_"+a].ready=c["_"+a].ready||[],c["_"+a].ready.push(b)},d=["addEvent","setGlobalProperties","trackExternalLink","on"];for(var g=0;g<d.length;g++){var h=d[g],i=function(a){return function(){return this["_"+a]=this["_"+a]||[],this["_"+a].push(arguments),this}};c[a].prototype[h]=i(h)}e=document.createElement("script"),e.async=!0,e.src=b,f=document.getElementsByTagName("script")[0],f.parentNode.insertBefore(e,f)},this);

  body
    block content
